.body {
  padding: 10px;
  max-height: 100%;
}

.navigation {
  padding: 10px;
  background-color: #222222;
}

.navbar-brand {
  display: flex;
}

.navbar-brand h1 {
  margin-left: 5px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.main-form-container {
  height: 73vh;
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
}

.main-form {
  width: 25%;
  margin: auto;
  background-color: #222222;
  padding: 40px;
  border-radius: 20px;
}

/* footer  */

footer {
  background-color: #222222;
}

.dropdown-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.dropdown-left-section {
  flex: 0 0 75%;
}

.menu-col {
  display: flex;
  flex-direction: column;
}

.menu-col h5 {
  color: white;
}

.menu-col a {
  text-decoration: none;
  color: #717171;
}

.menu-col a:hover {
  color: rgb(28, 177, 28);
}

.insta-icon,
.twitter-icon {
  min-width: 40px;
  max-width: 40px;
}

.twitter-icon {
  margin-left: 20px;
}
